/* For the index.html page only */

#main-page {
    background-image: url("../img/Joyce1.png");
    height: 100vh; /* Ensures the section always takes the full height of the viewport */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#header {
    font-size: 1100%; /* Scales font size with viewport width */
    color: white;
    margin: 0;
    padding-top: 55vh;
}

#main-page p {
    font-size: 200%; /* Scales font size with viewport width */
    font-weight: 400;
    color: white;
    margin: -3vh 0 0 0; /* Add consistent spacing below the heading */
    padding-left: 2vh;
}

#learn-more {
    background-color: white;
    border: 2px solid blue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition-duration: 0.4s;
    text-align: center;
    margin-top: 1%;
    color: black;
}

#learn-more:hover {
    background-color: blue;
    color: white;
}