/* Define Body */
body, html {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Navigation Bar */

#nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-weight: 400;
    position: fixed;
    top: 0;
    width: 100%;
    border: 0%;
}

.nav-item {
    float: left;
}

.nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.25s;
}

/* Active Nav Item */
.nav-item.nav-active .nav-link {
    background-color: dodgerblue; /* Ensure active link is always dodgerblue */
}

/* Hover colour */
.nav-link:hover {
    background-color: #111;
}

/* Special Styling for About */
#about.nav-item {
    float: right;
}

.no-style {
    text-decoration: none;
}

td {
    display: block;
}